.mr {
  border: 2px solid red;
}

.mg {
  border: 2px solid green;
}

.mb {
  border: 2px solid blue;
}
.my{
  border: 2px solid grey;
}
* {
  font-family: 'Rubik', sans-serif;
  /* overflow: hidden; */
}
body{
  background: #070D12;
}

